@model WebTiendaCelulares.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Eliminar Usuario</h4>
                </div>
                <div class="card-body">
                    <h5>¿Estás seguro que deseas eliminar este usuario?</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Usuario</dt>
                        <dd class="col-sm-8">@Model.nombreUsuario</dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-outline-secondary">
                                <i class="fa fa-arrow-left"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i> Eliminar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>