@model WebTiendaCelulares.Models.Venta

@{
    ViewData["Title"] = "Eliminar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Eliminar Venta</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger">
                        <strong>¿Estás seguro de eliminar esta venta?</strong> Esta acción no se puede deshacer.
                    </div>
                    <dl class="row">
                        <dt class="col-sm-4">Documento Cliente</dt>
                        <dd class="col-sm-8">@Model.DocumentoCliente</dd>
                        <dt class="col-sm-4">Monto Pago</dt>
                        <dd class="col-sm-8">@Model.MontoPago</dd>
                        <dt class="col-sm-4">Monto Cambio</dt>
                        <dd class="col-sm-8">@Model.MontoCambio</dd>
                        <dt class="col-sm-4">Monto Total</dt>
                        <dd class="col-sm-8">@Model.MontoTotal</dd>
                    </dl>
                    <form asp-action="Delete" class="d-flex justify-content-between">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Eliminar
                        </button>
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            <i class="fa fa-arrow-left"></i> Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>